homm3/__pycache__/__init__.cpython-38.pyc
homm3/envs/__pycache__/__init__.cpython-38.pyc
homm3/envs/__pycache__/homm3.cpython-38.pyc
homm3.egg-info/dependency_links.txt
homm3.egg-info/PKG-INFO
homm3.egg-info/requires.txt
homm3.egg-info/SOURCES.txt
homm3.egg-info/top_level.txt
